:root {
  --primary-button-bc-color: #e0e0e0;
  --border-color: #d9d6d4;
  --result-bc-color: #858694;
  --result-font-color: #fff;
  --operators-bc-color: #f5913e;
  --button-font-color: #000;
  --cell-height: 50px;
  --cell-width: 100px;
}
* {
  font-size: 20px;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, var(--cell-width));
  grid-template-rows: repeat(6, var(--cell-height));
}