:root {
  --primary-button-bc-color: #e0e0e0;
  --border-color: #d9d6d4;
  --result-bc-color: #858694;
  --result-font-color: #fff;
  --operators-bc-color: #f5913e;
  --button-font-color: #000;
  --cell-height: 50px;
  --cell-width: 100px;
}

* {
  font-size: 20px;
}

.calculator-container {
  padding-top: 1rem;
  float: right;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-width));
  grid-template-rows: repeat(6, var(--cell-height));
}

.result-display {
  grid-area: 1/1/2/5;
  background: var(--result-bc-color);
  color: var(--result-font-color);
  text-align: right;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  font-size: 26px;
  font-weight: 600;
}

.calc-button-style {
  background-color: var(--primary-button-bc-color);
  border: 1px solid var(--border-color);
  color: var(--button-font-color);
  text-align: center;
  line-height: var(--cell-height);
  cursor: pointer;
}

.zero-button {
  grid-area: 6/1/7/3;
}

.operators-buttons {
  background-color: var(--operators-bc-color);
}

.giant-quotes-quote {
  display: inline-block;
  font-family: sans-serif;
  margin: 3em;
  max-width: 35em;
}

.giant-quotes-quote blockquote {
  display: inline-block;
  margin: 0;
  padding: 3em;
  position: relative;
}

.giant-quotes-quote ::before {
  color: #f90;
  content: "\201C";
  font-size: 4em;
  left: 0;
  line-height: 0.75em;
  position: absolute;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}

.giant-quotes-quote ::after {
  color: #f90;
  content: "\201D";
  font-size: 4em;
  right: 0;
  line-height: 0.75em;
  position: absolute;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}
